<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gymsys.mapper.system.MenuMapper">
    <select id="getMenuByUserId" resultType="com.gymsys.entity.system.Menu">
        select m.* from sys_use_role as ur
        left join sys_role as r on ur.role_id = r.id
        left join sys_menu_role as rm on r.id = rm.role_id
        left join sys_menu as m on rm.menu_id = m.id
        where ur.user_id = #{userId}
    </select>
    <select id="getMenuByRoleId" resultType="com.gymsys.entity.system.Menu">
        select m.* from sys_menu_role as rm
        left join sys_menu as m on rm.menu_id = m.id
        where rm.role_id = #{roleId}
    </select>
</mapper>