<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gymsys.mapper.competition.CompetitionSignUpUserMapper">

    <select id="getCompetitionSignUpUser"
            resultType="com.gymsys.entity.competition.vo.CompetitionSignUpUserVO">
        select c.name             as competitionName,
               ci.name            as competitionItem,
               c.type             as competitionType,
               c.start_time       as startTime,
               c.sign_up_deadline as signUpDeadline,
               c.end_time         as endTime,
               csuu.status        as signUpStatus,
               csuu.reject_reason as rejectReason,
               csuu.id            as id
        from competition_sign_up_user csuu
                 left join competition c on c.id = csuu.competition_id
                 left join competition_item_relation cir on cir.competition_id = c.id
                 left join competition_item ci on ci.id = cir.competition_item_id
        where csuu.user_id = #{userId} and csuu.competition_item_id = cir.competition_item_id
    </select>
</mapper>
